body{
    background: url(./img/fondo.jpg) round fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex:auto;
}
header{
    background: url(./img/Fondo1.jpg) round scroll;
    border-radius: 20px 20px 0px 0px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 24px;
    color: whitesmoke;
    margin: 0px;
    padding-top: 0px;
}
.cancha{
    width: 100%;
    background: url(./img/cancha.jpg) round scroll; 
    border-radius: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media screen and (min-width: 767px){
    header{
        height: 70vh;
    }
    /* .cancha{
        height: 150vh;
    } */
  }

  @media screen and (min-width: 1000px){
     body{
        background: url(./img/fondo5.jpg) round fixed;
    }
}